body{
    font-family: roboto, sans-serif;
}
.calculator{
    width: 250px;
    margin: 20px auto;
    background-color: #000;
    padding: 20px;
}

button{
    width:50px;
    height: 50px;
    margin:2px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    
}

.clear{
    background-color: orange;
}

.screen{
    width:85%;
    margin: 2px;
    font-size: 40px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    text-align: right;
    
}

.operator, .equal{
    background-color: #FF9507;
    color: #fff;
}
/*
.equal{
    height: 210px;
    position: relative;
    float:right;
    top: -215px;
    right: 22px;
    background-color: rgb(223, 105, 105);
}
*/