body{
    font-family: roboto, sans-serif;
}
.calculator{
    width: 300px;
    margin: 25px auto;
    background-color: #000;
    padding: 25px 0px 20px 25px;
    border-radius: 10px;
}

button{
    width:60px;
    height: 60px;
    margin:2px;
    font-size:30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color:#fff;
    background-color:#A5A5A5;

}

.clear{
    background-color: #FF9507;
}

.screen{
    width:85%;
    margin: 2px;
    font-size: 40px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    text-align: right;
    font-weight: 100;

}

.operator, .equal{
    background-color: #333;
    color: #fff;
}

.zero{
    width:126px;
    border-radius:20px;
}

.equal{
    width:55px;
    height: 180px;
    position: relative;
    float:right;
    top: -252px;
    right: 35px;
    border-radius:20px;
    background-color: #FF9507;

}
