
.calculator{
    width: 250px;
    margin: 20px auto;
}

button{
    width:50px;
    height: 50px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
}

.clear{
    background-color: orange;
}

#screen{
    width:92%;
    margin: 2px;
    font-size: 18px;
    line-height: 30px;
    
}

.operator{
    background-color: rgb(61, 61, 158);
    color: #fff;
}

.equal{
    height: 210px;
    position: relative;
    float:right;
    top: -215px;
    right: 22px;
    background-color: rgb(223, 105, 105);
}